<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ name }} Shopping Cart</title>
</head>

<body>
  <h1>Hello {{ name }}</h1>
  <h2>All item</h2>
  <table border="1">
    <tr>
      <th>item</th>
      <th>Total amount</th>
      <th colspan="2">Add to your cart</th>
    </tr>
    {% for item in items %}
    <tr>
      <td style="background-color:{{ item[3] }}">{{ item[0] }}</td>
      <td>{{ item[1] }}</td>
      <form action="/addcart" method="post">
        <input type="hidden" name="id" value="{{ item[2] }}" />
        <td>
          <input type="number" id="amount" name="amount" />
        </td>
        <td>
          <button type="submit">Add</button>
        </td>
      </form>
    </tr>
    {% endfor %}
  </table>
  <h2>Your cart</h2>
  <table border="1">
    <tr>
      <th>item</th>
      <th>Total amount</th>
    </tr>
    {% for cart in carts %}
    <tr>
      <td>{{ cart[2] }}</td>
      <td>{{ cart[1] }}</td>
      <form action="/deletecart" method="post">
        <input type="hidden" name="id" value="{{ cart[0] }}" />
        <td>
          <button type="submit">Delete</button>
        </td>
      </form>
      <form action="/buycart" method="post">
        <input type="hidden" name="id" value="{{ cart[0] }}" />
        <td>
          <button type="submit">Buy</button>
        </td>
      </form>
    </tr>
    {% endfor %}
  </table>
  <br />
  <a href="/logout"><button>Logout</button></a>
</body>

</html>
